.swiper {
  padding: 4px;
}
.swiper-container {
  position: relative;
}
.button-next {
  position: absolute !important;
  right: -30px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.button-prev {
  position: absolute !important;
  left: -30px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}
